<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Problems</title>
  <link rel="stylesheet" type="text/css" href="/lib/semantic-ui/semantic.min.css" />
  <script src="/lib/jquery-3.2.1.min.js"></script>
  <script src="/lib/semantic-ui/semantic.min.js"></script>
  <script src="/lib/vue.js"></script>
  <script src="/lib/axios.min.js"></script>
  <script src="/js/util.js"></script>


</head>

<body>
  <div th:include="template :: header"></div>





  <div id="app" class="ui main container">
    <h1 class="ui header">UI</h1>


    <div id="viewdata">
      <div class="ui breadcrumb">
        <i class="angle right icon"></i>
        <a class="section" :href="referer" v-if="object0.referer!=null">{{ object0.referer }}</a>
        <div class="divider" v-if="object0.referer!=null"> / </div>

        <div class="active section">{{ object0.title }}</div>
      </div>

      <h1 class="ui header">
        {{ object0.title }}</h1>


      <div class="ui grid">

        <div class="ui twelve wide column">
          <div>
            <p style="line-height: 180%">{{ object0.description }}
            </p>
          </div>
          <h4>样例输入</h4>
          <div class="ui segment">
            {{ object0.inputExample }}
          </div>

          <h4>样例输出</h4>
          <div class="ui segment">
            {{ object0.outputExample }}
          </div>
        </div>

        <div class="ui four wide column">
          <table class="ui celled structured striped table">
            <tbody>
              <tr>
                <td>
                  <i class="microchip icon"></i> 内存限制 {{ object0.memoryLimit }}M
                </td>
              </tr>
              <tr>
                <td>
                  <i class="wait icon"></i> 时间限制 {{ object0.timeLimit }}ms</td>
              </tr>
              <tr>
                <td>
                  <i class="unhide icon"></i> 浏览 {{ object0.viewerNum }}</td>
              </tr>
              <tr>
                <td>
                  <i class="check circle icon"></i> 正确 {{ object0.acceptNum }}</td>
              </tr>
              <tr>
                <td>
                  <i class="sticky note icon"></i> 提交 {{ object0.submitNum }}</td>
              </tr>

              <tr>
                <td>
                  <i class="percent icon"></i>通过率 {{ (object0.acceptNum*100/object0.submitNum).toFixed(1) }}%</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--viewdata结束-->

    <div id="viewsubmit">
      <h1>提交</h1>
      <!-- <i class="code icon"></i> -->
      <div class="ui selection dropdown">
        <input type="hidden" name="language" />
        <i class="dropdown icon"></i>
        <div class="default text">选择语言</div>
        <div class="menu">
          <div class="item" data-value="0">C</div>
          <div class="item" data-value="1">C++</div>
          <div class="item" data-value="2">Java</div>
          <div class="item" data-value="3">Python</div>
          <div class="item" data-value="4">Ruby</div>
          <div class="item" data-value="5">Go</div>
          <div class="item" data-value="6">Perl</div>
        </div>
      </div>

      <div class="ui form">
        <div class="field">
          <label></label>
          <textarea v-model="src" rows="10"></textarea>
        </div>
      </div>

      <button class="ui primary button" style="margin-top:0.5em" v-on:click="submit">提交 </button>
    </div>
    <!-- viewsubmit结束 -->

  </div>
  <!-- 放到下拉栏下面 -->
  <script>$('.ui.dropdown').dropdown();</script>

  <div th:include="template :: footer"></div>

  <script>
    (function () {
      var ld = {
        object0: {},
        referer: document.referrer,
        src: ''
      };
      var pathId = getPathId();
      var dataApi = '/api/p/' + pathId;
      var submitApi = '/api/s';
      axios.get(dataApi, {
        headers: {
          'My-Referer': ld.referer,
          'Access-Token': window.localStorage.getItem("token")
        }
      })
        .then(function (response) {
          //TODO 系統異常處理
          ld.object0 = response.data.data;
          // $("#viewloader").hide();
          // $("#viewdata").show();
        })
        .catch(function (error) {
          if (error.response.status === 404) {
            // $("#viewloader").hide();
            // $("#view404").show();
          } else {
            console.log(error.response.status);
            window.location.href = "/login";
          }

        });
      var vm = new Vue({
        el: '#app',
        data: ld,
        methods: {
          submit: function () {
            axios({
              url: submitApi,
              method: 'post',
              headers: { 'Access-Token': window.localStorage.getItem("token") },
              data: {
                userId: '140705201',
                problemId: ld.object0.id,
                src: ld.src,
                lang: 'java'
              }
            });
            // axios.post(submitApi, {
            //   headers: {'Access-Token': window.localStorage.getItem("token")},
            //   userId: '140705202',
            //   problemId: ld.object0.id,
            //   src: ld.src,
            //   lang: 'java'
            // })
            //   .then(function (response) {
            //     console.log(response);
            //   })
            //   .catch(function (error) {
            //     console.log(error);
            //   });
          }
        }
      })
    })();

  </script>
</body>

</html>