<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Rank</title>
  <link rel="stylesheet" type="text/css" href="/lib/semantic-ui/semantic.min.css" />
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <script src="/lib/semantic-ui/semantic.min.js"></script>
</head>

<body>
 <div th:include="template :: header"></div>

  <div class="ui main container">
    <h1 class="ui header">Semantic UI Fixed Template</h1>

    <h1 class="ui header">排名</h1>

    <div class="ui fluid icon input">
      <input type="text" placeholder="搜索用户"/>
      <i class="search icon"></i>
    </div>



    <table class="ui celled striped table">
      <thead>
        <tr>
          <th class="one wide">名次</th>
          <th class="two wide">学号</th>
          <th class="eight wide">昵称</th>
          <th class="two wide">邮箱</th>
          <th class="one wide">正确</th>
          <th class="one wide">提交</th>
          <th class="one wide">正确率</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 1 </td>
          <td>140705202</td>
          <td>乱打代码的鸟哥哥</td>
          <td>213412432@qq.com</td>
          <td>32</td>
          <td>132</td>
          <td>30%</td>
        </tr>

      </tbody>
    </table>

    <div class="ui pagination menu">
      <a class="icon item">
        <i class="left chevron icon"></i>
      </a>
      <a class="item">1</a>
      <a class="item">2</a>
      <a class="item">3</a>
      <a class="item">4</a>
      <a class="icon item">
        <i class="right chevron icon"></i>
      </a>
    </div>

  </div>


  <div th:include="template :: footer"></div>

</body>

</html>