<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Submits</title>
  <link rel="stylesheet" type="text/css" href="/lib/semantic-ui/semantic.min.css" />
  <script src="/lib/jquery-3.2.1.min.js"></script>
  <script src="/lib/semantic-ui/semantic.min.js"></script>
</head>

<body>
 <div th:include="template :: header"></div>


  <div class="ui main container">
    <h1 class="ui header">UI</h1>

    <h1 class="ui header">提交细节（源代码）</h1>

    <div class="ui fluid icon input">
      <input type="text" placeholder="搜索用户">
      <i class="search icon"></i>
    </div>




  </div>



<div th:include="template :: footer"></div>




</body>

</html>